# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Webstorm project files
.idea

# Test coverage reports
/coverage

# TypeScript compiled files
/samples/typescript/**/*.js
/samples/typescript/**/*.js.map
/src/**/*.js
/src/**/*.js.map
/test/**/*.js
/test/**/*.js.map
!/test/**/*.es7.js
!/test/**/*.es6.js
!/test/**/*.es5.js

# TypeScript library definitions
typings/

# Generated Temp
/build/temp/

# Doc dependencies
/docs/lib