# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Webstorm project files
.idea

# TypeScript compiled files
/src/**/*.js
/src/**/*.js.map
/tests/**/*.js
/tests/**/*.js.map
!/tests/**/*.es7.js
!/tests/**/*.es6.js
!/tests/**/*.es5.js

# TypeScript library definitions
/typings/**/*.d.ts
!/typings/tsd.d.ts